[submodule "Components/MBProgressHUD"]
	path = Components/MBProgressHUD
	url = https://github.com/matej/MBProgressHUD.git
[submodule "Components/EGOTableViewPullRefresh"]
	path = Components/EGOTableViewPullRefresh
	url = https://github.com/enormego/EGOTableViewPullRefresh.git
[submodule "Components/EGOImageLoading"]
	path = Components/EGOImageLoading
	url = https://github.com/enormego/EGOImageLoading.git
[submodule "Components/ASIHTTPRequest"]
	path = Components/ASIHTTPRequest
	url = https://github.com/mschulkind/asi-http-request.git
[submodule "Components/underscore.js"]
	path = Components/underscore.js
	url = https://github.com/documentcloud/underscore.git
[submodule "Components/QSUtilities"]
	path = Components/QSUtilities
	url = https://github.com/mikeho/QSUtilities.git
[submodule "Components/facebook-ios-sdk"]
	path = Components/facebook-ios-sdk
	url = https://github.com/facebook/facebook-ios-sdk.git
[submodule "scripts/geonames_data"]
	path = scripts/geonames_data
	url = https://github.com/mschulkind/geonames.git
[submodule "Components/ndtrie"]
	path = Components/ndtrie
	url = https://github.com/mschulkind/ndtrie
